﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Controllers.AssignPointsToAreaViewModel
@{
    ViewBag.Title = BackEndResources.ManageArea_AssignPoints_AssignPointsTo + @Model.Name + "'s" + BackEndResources.ManageArea_AssignPoints_area;
}

<h2>@BackEndResources.ManageArea_AssignPoints_AssignPointsTo @Model.Name's @BackEndResources.ManageArea_AssignPoints_area </h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Id)
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.Label("Points:", new { @class = "control-label col-md-2" })
            <span class="col-md-10">
                @foreach (var item in Model.Points)
                {
                    <span class="col-md-4">
                        <label class="col-md-12">
                            <input type="checkbox" name="SelectedPoints" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                            @item.Text
                        </label>
                    </span>
                }
            </span>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <a href="@Url.Action("Index")" class="btn btn-default">@BackEndResources.ManageArea_AssignPoints_BackToList</a>
                <input type="submit" value="@BackEndResources.ManageArea_AssignPoints_Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

