﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Controllers.CreateAreaViewModel

@{
    ViewBag.Title = "Create";
}

<br />
@using (Html.BeginForm("Create", "ManageMsrtAreas", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@BackEndResources.ManageMsrtAreas_Create_Title</h4>
    <hr />
    <div class="form-group">
        <label class="col-xs-2 control-label">
            @BackEndResources.ManageMsrtAreas_Create_Name
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">
            @BackEndResources.ManageMsrtAreas_Create_Description
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new {@class = "form-control no-resize", @rows = "6"})
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Index")" class="btn btn-default">@BackEndResources.ManageMsrtArea_Create_BackToList</a>
            <input type="submit" value="@BackEndResources.ManageMsrtArea_Create_Create" class="btn btn-success" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
