﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Models.AreaDetailsViewModel

@{
    ViewBag.Title = @BackEndResources.ManageArea_Details_DetailsOf + " " + Model.Name + "'s " + BackEndResources.ManageArea_Details_area;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@BackEndResources.ManageArea_Details_DetailsOf @Model.Name's @BackEndResources.ManageArea_Details_area</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @BackEndResources.ManageArea_Details_AreaName
        </dt>
        <dd>
            @Model.Name
        </dd>
        <br />
        <dt>
            @BackEndResources.ManageArea_Details_AreaDescription
        </dt>
        <dd>
            @Model.Description
        </dd>
        <br />
        <dt>
            @BackEndResources.ManageArea_Details_PointsAssigned
        </dt>
        <dd>
            @if (Model.Points.Count == 0)
            {
                @BackEndResources.ManageArea_Details_NoPointsAssigned
            }
            @foreach (var point in Model.Points)
            {
                @point.Name
                <br />
            }
        </dd>
    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink(BackEndResources.ManageArea_Details_BackToList, "Index", null, new { @class = "btn btn-default" })
        @Html.ActionLink(BackEndResources.ManageArea_Details_Edit, "Edit", new {id = Model.Id}, new {@class = "btn btn-default"})
        </div>
    <br />
</div>
<hr />

