﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Models.EditAreaViewModel

@{
    ViewBag.Title = "Edit";
}


<h2>Edit @Model.Name area.</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <label class="col-xs-2 control-label">
                @BackEndResources.ManageMsrtAreas_Edit_Name
            </label> <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">
                @BackEndResources.ManageMsrtAreas_Edit_Description
            </label>  <div class="col-md-10">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control no-resize", @rows = 6 })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index")" class="btn btn-default">@BackEndResources.ManageMsrtArea_Edit_BackToList</a>
                <input type="submit" value="@BackEndResources.ManageMsrtArea_Edit_Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
