﻿@using EngineeringThesis.Resources
@using X.PagedList
@using X.PagedList.Mvc
@model IEnumerable<EngineeringThesis.Controllers.ManageAreasViewModel>

@{
    ViewBag.Title = @BackEndResources.ManageMsrtAreas_Index_ListOfAreas;
}
<h3 class="tempdata-message">@TempData["message"]</h3>
<h2>@BackEndResources.ManageMsrtAreas_Index_ListOfAreas:</h2>
@Html.ActionLink(BackEndResources.ManageMsrtAreas_Index_CreateNewArea, "Create")

<table class="table">
    <hr />
    <tr>
        <th class="col-md-2">
            @BackEndResources.ManageMsrtAreas_Index_AreaName
        </th>
        <th class="col-md-3">
            @BackEndResources.ManageMsrtAreas_Index_Description
        </th>
        <th class="col-md-2">
            @BackEndResources.ManageMsrtAreas_Index_PointsAssigned
        </th>
        <th class="col-md-5">
            @BackEndResources.ManageMsrtAreas_Index_Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Points.Count == 0)
                {
                    @BackEndResources.ManageMsrtAreas_Index_NoPoints
                }
                @foreach (var area in item.Points)
                {
                    <text> @area.Name </text>
                    <br />
                }
            </td>
            <td>
                @Html.ActionLink(BackEndResources.ManageMsrtAreas_Index_Edit, "Edit", "ManageMsrtAreas", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink(BackEndResources.ManageMsrtAreas_Index_AssignPoints, "AssignPoints", "ManageMsrtAreas", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink(BackEndResources.ManageMsrtAreas_Index_Details, "Details", "ManageMsrtAreas", new { id = item.Id }, new { @class = "btn btn-default" })
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#delete-modal-@(item.Id)">@BackEndResources.ManageMsrtAreas_Index_Delete</button>
            </td>
        </tr>
        <div id="delete-modal-@(item.Id)" class="modal fade">
            <div class="delete-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="delete-text">
                                @BackEndResources.ManageMsrtAreas_Index_AreYouSure
                            </div>
                            <br />
                            <div class="delete-text-name">
                                @(item.Name.Count() > 30 ? item.Name.Substring(0, 30) + "..." : item.Name)?
                            </div>
                            @using (Html.BeginForm("Delete", "ManageMsrtAreas", new { id = item.Id }))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-md btn-default" data-dismiss="modal">@BackEndResources.ManageMsrtAreas_Index_Cancel</button>
                                <button type="submit" class="btn btn-md btn-default">@BackEndResources.ManageMsrtAreas_Index_Delete</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</table>


<div class="col-xs-12 pager">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))
    <hr />
</div>