﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Services.RegisterUserByAdminViewModel

@{
    ViewBag.Title = "Create";
}

<br />
@using (Html.BeginForm("Create", "ManageUsers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4><b>Create a new account.</b></h4>
    <hr />
    <div class="form-group">
        <label class="col-xs-2 control-label">
            @BackEndResources.ManageUsers_Create_Username
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">
            @BackEndResources.ManageUsers_Create_Email
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">
            @BackEndResources.ManageUsers_Create_FullName
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">
            @BackEndResources.ManageUsers_Create_Password
        </label>
        <div class="col-md-9">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">
            @BackEndResources.ManageUsers_Create_ConfirmPassword
        </label>
        <div class="col-md-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            @BackEndResources.ManageUsers_Create_SelectUserGroups
        </label>
        <div class="col-md-10">
            @foreach (var item in Model.GroupsList)
            {
                <label class="col-md-12">
                    <input type="checkbox" name="selectedGroups" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                    @item.Text
                </label>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Index")" class="btn btn-default">@BackEndResources.ManageUsers_Create_BackToList</a>
            <input type="submit" value="@BackEndResources.ManageUsers_Create_Create" class="btn btn-success" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
