﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Services.UserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@BackEndResources.ManageUsers_Details_DetailsOf @Model.Username's @BackEndResources.ManageUsers_Details_account</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @BackEndResources.ManageUsers_Details_Username
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <br />
        <dt>
            @BackEndResources.ManageUsers_Details_FullName
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <br />
        <dt>
            @BackEndResources.ManageUsers_Details_Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <br />
        <dt>
            @BackEndResources.ManageUsers_Details_ListOfGroups
        </dt>
        <dd>
            @if (Model.GroupsList.Count == 0)
            {
                @BackEndResources.ManageUsers_Details_NoGroups
            }
            @foreach (var item in Model.GroupsList)
            {
                @item <br />
            }
        </dd>
    </dl>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink(BackEndResources.ManageUsers_Details_BackToList, "Index", null, new { @class = "btn btn-default" })
        @Html.ActionLink(BackEndResources.ManageUsers_Details_Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    </div>
    <br />
</div>
<hr />