﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Services.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>@BackEndResources.ManageUsers_Edit_Edit @Model.Username @BackEndResources.ManageUsers_Edit_account</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="col-xs-2 control-label">
                @BackEndResources.ManageUsers_Edit_Username
            </label> <div class="col-md-10">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">
                @BackEndResources.ManageUsers_Edit_Email
            </label> <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">
                @BackEndResources.ManageUsers_Edit_FullName
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">
               @BackEndResources.ManageUsers_Edit_SelectUserGroups
            </label>
            <span class=" col-md-10">
                @foreach (var item in Model.GroupsList)
                {
                    <label class="col-md-12">
                        <input type="checkbox" name="SelectedGroups" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                        @item.Text
                    </label>
                }
            </span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index")" class="btn btn-default">@BackEndResources.ManageUsers_Edit_BackToList</a>
                <input type="submit" value="@BackEndResources.ManageUsers_Edit_Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
