﻿@using EngineeringThesis.Resources
@using X.PagedList
@using X.PagedList.Mvc
@model IEnumerable<EngineeringThesis.Services.ManageUsersViewModel>

@{
    ViewBag.Title = "Index";
}
<h3 class="tempdata-message">@TempData["message"]</h3>
<h2>List of users:</h2>
<p>
    @Html.ActionLink("Create new user", "Create")
</p>
<table class="table">
    <tr>
        <hr />
        <th>
            @BackEndResources.ManageUsers_Index_UserName
        </th>
        <th>
            @BackEndResources.ManageUsers_Index_FullName
        </th>
        <th>
            @BackEndResources.ManageUsers_Index_ActualGroups
        </th>
        <th>
            @BackEndResources.ManageUsers_Index_Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @if (item.GroupsList.Count == 0)
                {
                    @BackEndResources.ManageUsers_Index_NoGroups
                }
                @foreach (var group in item.GroupsList)
                {
                    <text> @group </text>
                    <br />
                }
            </td>
            <td>
                @Html.ActionLink(BackEndResources.ManageUsers_Index_Edit, "Edit", "ManageUsers", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink(BackEndResources.ManageUsers_Index_Details, "Details", "ManageUsers", new { id = item.Id }, new { @class = "btn btn-default" })
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#delete-modal-@(item.Id)">@BackEndResources.ManageUsers_Index_Delete</button>
            </td>
        </tr>
        <div id="delete-modal-@(item.Id)" class="modal fade">
            <div class="delete-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="delete-text">
                                @BackEndResources.ManageUsers_Index_AreYouSure
                            </div>
                            <br />
                            <div class="delete-text-name">
                                @(item.Username.Count() > 30 ? item.Username.Substring(0, 30) + "..." : item.Username)?
                            </div>
                            @using (Html.BeginForm("Delete", "ManageUsers", new { id = item.Id }))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-md btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-md btn-default">Delete</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</table>
<center>
    @Html.PagedListPager((IPagedList)Model, generatePageUrl: page => Url.Action("Index", new { page = page }))
</center>