﻿@using EngineeringThesis.Resources
@model List<SelectListItem>
@{
    ViewBag.Title = @BackEndResources.Measurements_Charts_Title;
}
<h2>@BackEndResources.Measurements_Charts_Title</h2>
<h3>@BackEndResources.Measurements_Charts_Instruction</h3>

<div>
    <div class="col-xs-12">
        <div class="col-xs-3 raport-title">
            <b>@BackEndResources.Measurements_Charts_SelectArea</b><br />
            @Html.DropDownList("AreaName", Model, new { id = "areaName", @class = "btn btn-default", @onchange = "GetPoints(this.value);" })
        </div>
        <div class="col-xs-offset-1 col-xs-3 raport-title">
            <b>@BackEndResources.Measurements_Charts_SelectPoint</b><br />
            @Html.DropDownList("PointName", Enumerable.Empty<SelectListItem>(), new { id = "ddlpoints", @class = "btn btn-default" })
        </div>
        <div class="col-xs-offset-1 col-xs-4 raport-title">
            <b>@BackEndResources.Measurements_Charts_SelectDate</b>
            <div class="col-xs-12" id="datePicker"></div>
        </div>
        <button class="btn btn-success col-xs-offset-5" onclick="createChart()">@BackEndResources.Measurements_Charts_Generate</button>
        <br />
        <div id="chart-div" class="row chart">
            <h2>@BackEndResources.Measurements_Charts_Chart</h2>
            <br />
            <div class="ct-chart ct-perfect-fourth"></div>
        </div>
        <hr />
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css" />
    <script src="/Scripts/chartist.min.js"></script>
    <link rel="stylesheet" href="/Content/chartist.min.css">

    <script>
        $(document)
            .ready(function () {
                var firstArea = $("#areaName").val();
                GetPoints(firstArea)
                var str = "@DateTime.Now.AddDays(-10).ToString("yyyy-MM-dd")" +
                    " to " +
                    "@DateTime.Now.AddDays(+1).ToString("yyyy-MM-dd")";
                $("#datePicker")
                    .html('<input class="btn btn-default col-xs-12" id="date_range" type="text" placeholder="Choose date" value="' + str + '">');

                $("#date_range")
                    .daterangepicker({
                        autoUpdateInput: false,
                        locale: {
                            "cancelLabel": "Clear"
                        }
                    });

                $("#date_range")
                    .on('apply.daterangepicker',
                        function (ev, picker) {
                            $(this)
                                .val(picker.startDate.format('YYYY-MM-DD') +
                                    ' to ' +
                                    picker.endDate.format('YYYY-MM-DD'));
                            table.draw();
                        });

                $("#date_range")
                    .on('cancel.daterangepicker',
                        function (ev, picker) {
                            $(this).val('');
                            table.draw();
                        });
            });


        function createChart() {
            var pointId = $("#ddlpoints").val();
            var date = $("#date_range").val();
            var labels;
            var values;
            $.ajax({
                type: "GET",
                url: "GetChartData",
                data: { pointId: pointId, date: date },
                dataType: "json",
                success: function (data) {
                    labels = data.Labels;
                    values = data.Values;
                    if (data.Labels.length == 0) {
                        alert("Not enough data to generate chart for this point");
                    } else {
                        $('#chart-div').fadeIn(3000);
                        var chart = new Chartist.Line('.ct-chart',
                        {
                            labels: labels,
                            series: [values]
                        },
                        {
                            axisY: {
                                offset: 50
                            },
                            axisX: {
                                offset: 50,
                                labelInterpolationFnc: function skipLabels(value, index) {
                                    if (data.Labels.length > 10) {
                                        var divider = Math.round(data.Labels.length / 10);
                                        return index % divider === 0 ? value : null;
                                    } else {
                                        return value;
                                    }
                                }
                            }
                        });


                        var seq = 0,
                            delays = 5,
                            durations = 700;

                        chart.on('created',
                            function () {
                                seq = 0;
                            });

                        chart.on('draw',
                            function (data) {
                                seq++;

                                if (data.type === 'line') {
                                    data.element.animate({
                                        opacity: {
                                            begin: seq * delays + 1000,
                                            dur: durations,
                                            from: 0,
                                            to: 1
                                        }
                                    });

                                } else if (data.type === 'point') {
                                    data.element.animate({
                                        x1: {
                                            begin: seq * delays,
                                            dur: durations,
                                            from: data.x - 10,
                                            to: data.x,
                                            easing: 'easeOutQuart'
                                        },
                                        x2: {
                                            begin: seq * delays,
                                            dur: durations,
                                            from: data.x - 10,
                                            to: data.x,
                                            easing: 'easeOutQuart'
                                        },
                                        opacity: {
                                            begin: seq * delays,
                                            dur: durations,
                                            from: 0,
                                            to: 1,
                                            easing: 'easeOutQuart'
                                        }
                                    });
                                } else if (data.type === 'grid') {
                                    var animations = {};
                                    data.element.animate(animations);
                                }
                            });
                    }
                },
                error: function (data) {
                    debugger;
                    alert('eror');
                }
            });


        }


        function GetPoints(_areaId) {
            var procemessage = "<option value='50'> Please wait...</option>";
            $("#ddlpoints").html(procemessage).show();
            var url = "/Measurements/GetPointsByAreaId/";

            $.ajax({
                url: url,
                data: { areaId: _areaId },
                cache: false,
                type: "GET",
                success: function (data) {
                    var markup;
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#ddlpoints").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

            $('#ddlpoints')
                .change(function () {

                    var selectedID = $(this).val();

                    $.get('/Measurements/GetChart/' + selectedID,
                        function (data) {
                            $('#partialPlaceHolder').html(data);
                            $('#partialPlaceHolder').fadeIn('fast');
                        });

                });
        }
    </script>
}