﻿@using EngineeringThesis.Resources
@model List<EngineeringThesis.Models.MapMarkersViewModel>
<br />
<h2>@BackEndResources.Measurements_Map_Title</h2>
<h4>@BackEndResources.Measurements_Map_Description</h4>

<div class="map-with-pointers" id="map_wrapper">
    <div class="map_canvas" id="map_canvas" class="mapping"></div>
</div>

@section Scripts{
    <script>
        jQuery(function ($) {
            // Asynchronously Load the map API
            var script = document.createElement('script');
            script.src = "//maps.googleapis.com/maps/api/js?key=AIzaSyDL0_4zsY1gddcs3kdN3ascv8LEa5Ocz5E&sensor=false&callback=initialize";
            document.body.appendChild(script);
        });

        var data = @Html.Raw(Json.Encode(Model));

        function initialize() {
            var map;
            var bounds = new google.maps.LatLngBounds();
            var mapOptions = {
                mapTypeId: 'roadmap'
            };

            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            map.setTilt(45);

            // Display multiple markers on a map
            var infoWindow = new google.maps.InfoWindow(), marker, i;

            // Loop through our array of markers & place each one on the map
            for (i = 0; i < data.length; i++) {
                var position = new google.maps.LatLng(data[i].Latitude, data[i].Longitude);
                bounds.extend(position);
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: data[i].Name
                });

                // Allow each marker to have an info window
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        var infoWindowContent = [
                                '<div class="info_content">' +
                                '<h3>' +
                                data[i].Name +
                                '</h3>' +
                                '<p>Latest measurement: ' +
                                data[i].Value +
                                ' dB</p>' +
                                '</div>'
                        ];
                        infoWindow.setContent(infoWindowContent[0]);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));

                // Automatically center the map fitting all markers on the screen
                map.fitBounds(bounds);
            }

            // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
            var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                this.setZoom(6);
                google.maps.event.removeListener(boundsListener);
            });

        }
    </script>
}
