﻿@using EngineeringThesis.Resources
@model List<SelectListItem>
@{
    ViewBag.Title = BackEndResources.Measurements_Report_Title;
}

<h2>@BackEndResources.Measurements_Report_Title</h2>
<h3>@BackEndResources.Measurements_Report_Description</h3>

<div>
    <div class="col-xs-12">
        <div class="col-xs-offset-2 col-xs-3 raport-title">
            <b>@BackEndResources.Measurements_Report_FilterByName</b>
            @Html.DropDownList("PointName", Model, new { id = "pointName", @class = "btn btn-default" })
        </div>
        <div class="col-xs-offset-1 col-xs-4 raport-title">
            <b>@BackEndResources.Measurements_Report_FilterByDate</b>
            <div class="col-xs-12" id="datePicker"></div>
        </div>

    </div>
    <br /><br />
</div>
<table id="msrtTable">
    <thead class="datatable-head">
        <tr>
            <th>@BackEndResources.Measurements_Report_PointName</th>
            <th>@BackEndResources.Measurements_Report_MsrtValue</th>
            <th>@BackEndResources.Measurements_Report_DateOfMsrt</th>
            <th>@BackEndResources.Measurements_Report_TimeStamp</th>
        </tr>
    </thead>
</table>



@section Scripts {
    <link href="/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css" />

    <script>
        $(document)
            .ready(function () {

                var table = $('#msrtTable')
                    .DataTable({
                        "order": [[2, "asc"]],
                        "sDom": '<"top">lt<"bottom"ip<"clear">>',
                        "bInfo": false,
                        "bAutoWidth": true,
                        "ajax": {
                            "url": "/measurements/LoadRaportData",
                            "type": "GET",
                            "datatype": "json"
                        },
                        "columns": [
                            { "data": "PointName" },
                            { "data": "Value" },
                            { "data": "DateTime" },
                            { "data": "DateTimeStamp" }
                        ]
                    });
                var str = "@DateTime.Now.AddDays(-10).ToString("yyyy-MM-dd")" + " to " + "@DateTime.Now.AddDays(+1).ToString("yyyy-MM-dd")";
                $("#datePicker").html('<input class="btn btn-default col-xs-12" id="date_range" type="text" placeholder="Choose date" value="' + str + '">');
                //END of the data table

                $("#msrtTable_length").addClass("raport-title");
                $("#msrtTable_length select").addClass("btn btn-default");

                // Date range script - Start of the sscript
                $("#date_range").daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                        "cancelLabel": "Clear",
                    }
                });

                $("#date_range").on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD') + ' to ' + picker.endDate.format('YYYY-MM-DD'));
                    table.draw();
                });

                $("#date_range").on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                    table.draw();
                });
                // Date range script - END of the script

                $.fn.dataTableExt.afnFiltering.push(
                function (oSettings, aData, iDataIndex) {

                    var grab_daterange = $("#date_range").val();
                    var give_results_daterange = grab_daterange.split(" to ");
                    var filterstart = give_results_daterange[0];
                    var filterend = give_results_daterange[1];
                    var iStartDateCol = 3; //using column 2 in this instance
                    var iEndDateCol = 3;
                    var tabledatestart = aData[iStartDateCol];
                    var tabledateend = aData[iEndDateCol];

                    if (filterstart === "" && filterend === "") {
                        return true;
                    }
                    else if ((moment(filterstart).isSame(tabledatestart) || moment(filterstart).isBefore(tabledatestart)) && filterend === "") {
                        return true;
                    }
                    else if ((moment(filterstart).isSame(tabledatestart) || moment(filterstart).isAfter(tabledatestart)) && filterstart === "") {
                        return true;
                    }
                    else if ((moment(filterstart).isSame(tabledatestart) || moment(filterstart).isBefore(tabledatestart)) && (moment(filterend).isSame(tabledateend) || moment(filterend).isAfter(tabledateend))) {
                        return true;
                    }
                    return false;
                }
                );

                $('select#pointName')
                    .change(function () {
                        table
                 .columns(0)
                 .search(this.value)
                 .draw();
                    });
            });
    </script>
}