﻿@using EngineeringThesis.Resources
@model List<SelectListItem>
@{
    ViewBag.Title = BackEndResources.Measurements_TodaysReport_Title;
}

<h2>@BackEndResources.Measurements_TodaysReport_Title (@DateTime.Now.ToString("dd-MM-yyyy"))</h2>

<div>
    <div class="col-xs-12">
        <div class="raport-title">
            <b>@BackEndResources.Measurements_TodaysReport_FilterByName</b>
            @Html.DropDownList("PointName", Model, new { id = "pointName", @class = "btn btn-default" })
        </div>
    </div>
    <br /><br />
</div>
<table id="msrtTable">
    <thead class="datatable-head">
        <tr>
            <th>@BackEndResources.Measurements_TodaysReport_PointName</th>
            <th>@BackEndResources.Measurements_TodaysReport_MsrtValue</th>
            <th>@BackEndResources.Measurements_TodaysReport_DateOfMsrt</th>
            <th>@BackEndResources.Measurements_TodaysReport_TimeStamp</th>
        </tr>
    </thead>
</table>



@section Scripts {
    <link href="/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script>
        $(document)
            .ready(function () {

                var table = $('#msrtTable')
                    .DataTable({
                        "order": [[2, "asc"]],
                        "sDom": '<"top">lt<"bottom"ip<"clear">>',
                        "bInfo": false,
                        "bAutoWidth": true,
                        "ajax": {
                            "url": "/measurements/LoadTodayData",
                            "type": "GET",
                            "datatype": "json"
                        },
                        "columns": [
                            { "data": "PointName" },
                            { "data": "Value" },
                            { "data": "DateTime" },
                            { "data": "DateTimeStamp" }
                        ]
                    });

                $("#msrtTable_length").addClass("raport-title");
                $("#msrtTable_length select").addClass("btn btn-default");

                $('select#pointName')
                    .change(function () {
                        table
                 .columns(0)
                 .search(this.value)
                 .draw();
                    });
            });
    </script>
}