﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Controllers.CreatePointViewModel

@{
    ViewBag.Title = BackEndResources.ManageMsrtPoint_Create_CreateNewPoint;
}

<br />
@using (Html.BeginForm("Create", "ManageMsrtPoints", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@BackEndResources.ManageMsrtPoint_Create_CreateNewPoint</h4>
    <h5>@BackEndResources.ManageMsrtPoint_Create_Instruction</h5>
    <hr />
    <div class="col-xs-5">
        <div class="form-group">
            <label class="col-xs-3 control-label">
                @BackEndResources.ManageMsrtPoint_Create_Name
            </label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">
                @BackEndResources.ManageMsrtPoint_Create_Description
            </label>
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "6" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">
                @BackEndResources.ManageMsrtPoint_Create_Localization
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Localization, new { htmlAttributes = new { @class = "form-control create-view-field", id = "address" } })
                @Html.ValidationMessageFor(model => model.Localization, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Latitude)
                @Html.HiddenFor(model => model.Longitude)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <br />
                <a href="@Url.Action("Index")" class="btn btn-default">@BackEndResources.ManageMsrtPoint_Create_BackToList</a>
                <input type="submit" value="@BackEndResources.ManageMsrtPoint_Create_Create" class="btn btn-success" />
            </div>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="form-group">
            <div id="map" class="create-edit-point-map"></div>
        </div>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
}



@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL0_4zsY1gddcs3kdN3ascv8LEa5Ocz5E&callback=initMap&libraries=places">
    </script>
    <script>
        var Latitude;
        var Longitude;
        var marker;
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),
               {
                   maxZoom: 14,
                   center: { lat: 51.109454, lng: 17.058171000000016 }
               });
            Logic(map);
           }

        function Logic(map) {
            RevertGeocoding(map);
            autocompleteFunc(map);
        }


        function autocompleteFunc(map) {
            var autocomplete = new google.maps.places.Autocomplete(document.getElementById("address"))
            $("#address").attr("placeholder", "Type a Location");
            var geocoder = new google.maps.Geocoder();
            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                geocodeAddress(geocoder, map)
            })
        }

        function sendLonLat(lat, long) {
            document.getElementById('Latitude').value = lat;
            document.getElementById('Longitude').value = long;
        }

        function RevertGeocoding(map) {
            if (@Model.Latitude != 0 && @Model.Longitude != 0) {
                var geocoder = new google.maps.Geocoder;
                var latlng = { lat: @Model.Latitude, lng: @Model.Longitude };
                geocoder.geocode({ 'location': latlng },
                    function(results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            if (results[1]) {
                                map.setZoom(21);
                                if (!marker) {
                                    marker = new google.maps.Marker({
                                        map: map,
                                        position: latlng,
                                        animation: google.maps.Animation.DROP
                                    })
                                    marker.setMap(map);
                                    marker.setDraggable(true);
                                } else {
                                    marker.setPosition(latlng);
                                }

                                google.maps.event.addListener(marker,
                                    'dragend',
                                    function(event) {
                                        var point = marker.getPosition();
                                        map.panTo(point);
                                        Latitude = point.lat();
                                        Longitude = point.lng();
                                        latlng = { lat: Latitude, lng: Longitude };
                                        sendLonLat(latlng.lat, latlng.lng);
                                        var fastName;
                                        geocoder.geocode({ 'location': latlng },
                                            function(results, status) {
                                                fastName = results[0].formatted_address;
                                                document.getElementById('address').value = fastName;
                                            });
                                    });
                                sendLonLat(latlng.lat, latlng.lng);
                                map.setCenter(results[0].geometry.location);
                            }
                        }
                    });
                return true;
            }
        }


        function geocodeAddress(geocoder, map) {
            var geocoder = new google.maps.Geocoder();
            var address = document.getElementById('address').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                map.setCenter(results[0].geometry.location);
                boundMapGeocoder(results, map);
                markerMap(results, map)
            });
        }

        function markerMap(results, resultsMap) {
            Latitude = results[0].geometry.location.lat(),
            Longitude = results[0].geometry.location.lng(),
            myLatLng = { lat: Latitude, lng: Longitude };
            if (!marker) {
                marker = new google.maps.Marker({
                    map: resultsMap,
                    position: myLatLng,
                    animation: google.maps.Animation.DROP
                })
                marker.setMap(resultsMap);
                marker.setDraggable(true);
            } else {
                marker.setPosition(myLatLng);
            }

            google.maps.event.addListener(marker, 'dragend', function (event) {
                var point = marker.getPosition();
                resultsMap.panTo(point);
                Latitude = point.lat();
                Longitude = point.lng();
                myLatLng = { lat: Latitude, lng: Longitude };
                sendLonLat(myLatLng.lat, myLatLng.lng);
            });
            sendLonLat(myLatLng.lat, myLatLng.lng);
        }

        function boundMapGeocoder(results, resultsMap) {
            var bounds = new google.maps.LatLngBounds();
            loc = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
            bounds.extend(loc);
            resultsMap.fitBounds(bounds);
            resultsMap.panToBounds(bounds);
        }

    </script>
}
