﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Controllers.PointDetailsViewModel

@{
    ViewBag.Title = @BackEndResources.ManageMsrtPoint_Details_DetailsOf + " " + Model.Name + "'s " + BackEndResources.ManageMsrtPoint_Details_point;
}

<h2>@BackEndResources.ManageMsrtPoint_Details_DetailsOf  @Model.Name's @BackEndResources.ManageMsrtPoint_Details_point</h2>

<div class="point-details-container">
    <hr />
    <div class="col-xs-4">
        <br />
        <br />
        <div>
            <b> @BackEndResources.ManageMsrtPoint_Details_PointName</b>
            @Html.DisplayFor(model => model.Name)
        </div>
        <br />
        <div>
            <b>
                @BackEndResources.ManageMsrtPoint_Details_Description
            </b>
            @Html.DisplayFor(model => model.Description)
        </div>
        <br />
        <div>
            <b>
                @BackEndResources.ManageMsrtPoint_Details_Latitude
            </b>
            @Html.DisplayFor(model => model.Latitude)
        </div>
        <br />
        <div>
            <b>
                @BackEndResources.ManageMsrtPoint_Details_Longitude
            </b>
            @Html.DisplayFor(model => model.Longitude)
        </div>
        <br />
        <div>
            <b>
                @BackEndResources.ManageMsrtPoint_Details_Address
            </b>
            @Html.DisplayFor(model => model.Localization)
        </div>
        <br />
        <div>
            <b>
                @BackEndResources.ManageMsrtPoint_Details_AssignedToAreas
            </b>
            @if (Model.Areas.Count == 0)
            {
                <p>@BackEndResources.ManageMsrtPoint_Details_NoAreas</p>
            }
            @foreach (var item in Model.Areas)
            {
                @item.Name
                <br/>
            }
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                @Html.ActionLink(BackEndResources.ManageMsrtPoint_Details_BackToList, "Index", null, new { @class = "btn btn-default" })
                @Html.ActionLink(BackEndResources.ManageMsrtPoint_Details_Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
            </div>
            <br />
        </div>
    </div>
    <div class="col-xs-8">
        <div id="googleMap" class="point-details-map"></div>
    </div>
    <div class="col-md-12">
        <br/>
        <hr/>
    </div>
</div>




@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL0_4zsY1gddcs3kdN3ascv8LEa5Ocz5E"></script>
    <script>
        var myCenter = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);

        function initialize() {
            var mapProp = {
                center: myCenter,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var marker = new google.maps.Marker({
                position: myCenter,
            });

            marker.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

}
