﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Controllers.EditPointViewModel

@{
    ViewBag.Title = BackEndResources.ManageMsrtPoint_Edit_Edit + Model.Name+"'s" + BackEndResources.ManageMsrtPoint_Edit_point;
}
<br />
@using (Html.BeginForm("Edit", "ManageMsrtPoints", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@BackEndResources.ManageMsrtPoint_Edit_Edit @Model.Name's @BackEndResources.ManageMsrtPoint_Edit_point</h4>
    <h5>@BackEndResources.ManageMsrtPoint_Edit_Instruction</h5>
    <hr />
    <div class="col-xs-5">
        <div class="form-group">
            <label class="col-xs-3 control-label">
                @BackEndResources.ManageMsrtPoint_Edit_Name
            </label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">
                @BackEndResources.ManageMsrtPoint_Edit_Description
            </label>
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "6" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">
                @BackEndResources.ManageMsrtPoint_Edit_Localization
            </label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Localization, new { htmlAttributes = new { @class = "form-control create-view-field", id = "address" } })
                @Html.ValidationMessageFor(model => model.Localization, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Latitude)
                @Html.HiddenFor(model => model.Longitude)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <br />
                <a href="@Url.Action("Index")" class="btn btn-default">@BackEndResources.ManageMsrtPoint_Edit_BackToList</a>
                <input type="submit" value="@BackEndResources.ManageMsrtPoint_Edit_Save" class="btn btn-success" />
            </div>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="form-group">
            <div id="map" class="create-edit-point-map"></div>
        </div>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
}




@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/_googleMaps.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL0_4zsY1gddcs3kdN3ascv8LEa5Ocz5E&callback=initMap&libraries=places">

    </script>
    <script>
        function RevertGeocoding(map) {
            if (@Model.Latitude != 0 && @Model.Longitude != 0) {
                var geocoder = new google.maps.Geocoder;
                var latlng = { lat: @Model.Latitude, lng: @Model.Longitude };
                geocoder.geocode({ 'location': latlng },
                    function(results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            if (results[1]) {
                                map.setZoom(21);
                                if (!marker) {
                                    marker = new google.maps.Marker({
                                        map: map,
                                        position: latlng,
                                        animation: google.maps.Animation.DROP
                                    })
                                    marker.setMap(map);
                                    marker.setDraggable(true);
                                } else {
                                    marker.setPosition(latlng);
                                }

                                google.maps.event.addListener(marker,
                                    'dragend',
                                    function(event) {
                                        var point = marker.getPosition();
                                        map.panTo(point);
                                        Latitude = point.lat();
                                        Longitude = point.lng();
                                        latlng = { lat: Latitude, lng: Longitude };
                                        sendLonLat(latlng.lat, latlng.lng);
                                        var fastName;
                                        geocoder.geocode({ 'location': latlng },
                                            function(results, status) {
                                                fastName = results[0].formatted_address;
                                                document.getElementById('address').value = fastName;
                                            });
                                    });
                                sendLonLat(latlng.lat, latlng.lng);
                                map.setCenter(results[0].geometry.location);
                            }
                        }
                    });
                return true;
            }
        }
    </script>
}