﻿@using EngineeringThesis.Resources
@using X.PagedList
@using X.PagedList.Mvc
@model IEnumerable<EngineeringThesis.Controllers.ManagePointsViewModel>

@{
    ViewBag.Title = BackEndResources.ManageMsrtPoints_Index_ListOfPoints;
}
<h2>@BackEndResources.ManageMsrtPoints_Index_ListOfPoints:</h2>
<p>
    @Html.ActionLink(BackEndResources.ManageMsrtPoints_Index_CreateNewPoint, "Create")
</p>
<table class="table">
    <hr />
    <tr>
        <th class="col-md-2">
            @BackEndResources.ManageMsrtPoints_Index_PointName
        </th>
        <th class="col-md-2">
            @BackEndResources.ManageMsrtPoints_Index_Longitude
        </th>
        <th class="col-md-2">
            @BackEndResources.ManageMsrtPoints_Index_Latitude
        </th>
        <th class="col-md-2">
            @BackEndResources.ManageMsrtPoints_Index_AssignedToAreas
        </th>
        <th class="col-md-4">
            @BackEndResources.ManageMsrtPoints_Index_Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @if (item.Areas.Count == 0)
                {
                    @BackEndResources.ManageMsrtPoints_Index_NoAreas
                }
                @foreach (var area in item.Areas)
                {
                    <text> @area.Name </text>
                    <br />
                }
            </td>
            <td>
                @Html.ActionLink(BackEndResources.ManageMsrtPoints_Index_Edit, "Edit", "ManageMsrtPoints", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink(BackEndResources.ManageMsrtPoints_Index_Details, "Details", "ManageMsrtPoints", new { id = item.Id }, new { @class = "btn btn-default" })
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#delete-modal-@(item.Id)">@BackEndResources.ManageMsrtPoints_Index_Delete</button>
            </td>
        </tr>
        <div id="delete-modal-@(item.Id)" class="modal fade">
            <div class="delete-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="delete-text">
                                @BackEndResources.ManageMsrtPoints_Index_AreYouSure
                            </div>
                            <br />
                            <div class="delete-text-name">
                                @(item.Name.Count() > 30 ? item.Name.Substring(0, 30) + "..." : item.Name)?
                            </div>
                            @using (Html.BeginForm("Delete", "ManageMsrtPoints", new { id = item.Id }))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-md btn-default" data-dismiss="modal">@BackEndResources.ManageMsrtPoints_Index_Cancel</button>
                                <button type="submit" class="btn btn-md btn-default">@BackEndResources.ManageMsrtPoints_Index_Delete</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</table>

<div class="col-xs-12 pager">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))
    <hr />
</div>