﻿@import "colors.less";

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table-heading {
    text-align: center;
    font-weight: bold;
    height: 40px;
    border-bottom: 2px solid @colorBlack;
}

.table-elements {
    text-align: center;
    padding: 10px;
    display: block;
}

.pager {
    text-align: center;
}

.point-details-container {
    text-align: center;
    min-height: 420px;
    font-size: 16px;
}

.point-details-map {
    width: 600px;
    height: 400px;
}

.create-edit-point-map {
    height: 400px;
    width: 600px;
}

.raport-title {
    font-size: 16px;
    text-align: center;
    padding: 20px;
    min-height: 60px;
}

#msrtTable_length {
    label {
        color: white;
    }
}

.chart {
    min-width: 500px;
    min-height: 1000px;
    display: none;
}

.map-with-pointers {
    height: 800px;
}

.map_canvas {
    width: 100%;
    height: 100%;
}

.tempdata-message {
    color: @colorRed;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.delete-modal {
    text-align: center;
    margin-top: 200px;

    .modal-dialog {
        .modal-content {
            .modal-body {
                min-height: 200px;

                .delete-text {
                    min-height: 40px;
                }

                .delete-text-name {
                    min-height: 40px;
                }
            }
        }
    }
}

.table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
    color: @colorBlack;
}


.no-resize {
    resize: none;
}

.gm-style .gm-style-iw {
    color: black;
}

table.dataTable {
    color: @colorBlack;
}

.datatable-head {
    color: @colorWhite;
}

.daterangepicker.dropdown-menu {
    color: @colorBlack;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    color: @colorGreen;
}

.ct-label.ct-vertical.ct-start {
    color: @colorGreen;
}

.ct-label.ct-horizontal.ct-end {
    color: @colorGreen;
}

.main-page-description {
    font-size: 13px;
    font-weight: 500;
}
