﻿@{
    ViewBag.Title = "About - Acoustic Map";
}
<h2>Acoustic map</h2>

<hr>
<address>
    <strong>Author:</strong>
    Michał Rzepczak<br/>
    Politechnika Wrocławska<br/>
    <strong>Feel free to contact:</strong>   <a href="mailto:michal.rzepczak@gmail.com">michal.rzepczak@gmail.com</a><br />
</address>
