﻿@using EngineeringThesis.Resources
@{
    ViewBag.Title = "Home - Acoustic Map";
}

<div class="jumbotron">
    <h1>@BackEndResources.Home_Index_SiteName</h1>
    <div class="main-page-description">
        @Html.Raw(BackEndResources.Home_Index_Description)
    </div>
</div>
