﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Services.AssignUserToGroupViewModel

@{
    ViewBag.Title = "Assign Users";
}

<h2>@BackEndResources.ManageGroups_AssignUsers_AssignUsersTo @Model.GroupName's @BackEndResources.ManageGroups_AssignUsers_group</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Id)
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="col-xs-2">
                @BackEndResources.ManageGroups_AssignUsers_Users
            </label>
            <div class="col-md-10">
                @foreach (var item in Model.Users)
                {
                    <div class="col-md-4">
                        <label>
                            <input type="checkbox" name="SelectedUsers" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                            @item.Text
                        </label>
                    </div>
                }
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <a href="@Url.Action("Index")" class="btn btn-default">@BackEndResources.ManageGroups_AssignUsers_BackToList</a>
                <input type="submit" value="@BackEndResources.ManageGroups_AssignUsers_Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
