﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Services.CreateGroupViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@using (Html.BeginForm("Create", "ManageGroups", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4><b>@BackEndResources.ManageGroups_Create_CreateNewGroup</b></h4>
    <hr />
    <div class="form-group">
        <label class="col-xs-2 control-label">
            @BackEndResources.ManageGroups_Create_GroupName
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.GroupName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">
            @BackEndResources.ManageGroups_Create_CreateDescription
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.GroupDescription, new { @class = "form-control", @rows = "6" })
            @Html.ValidationMessageFor(m => m.GroupDescription, "", new { @class = "text-danger" })
        </div>
    </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">
                @BackEndResources.ManageGroups_Create_SelectGroupModules
            </label>
            <div class="col-md-10">
                @foreach (var item in Model.Roles)
                {
                    <label class="col-md-12">
                        <input type="checkbox" name="selectedRoles" value="@item.Value" class="checkbox-inline" />
                        @item.Text
                    </label>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index")" class="btn btn-default">@BackEndResources.ManageGroups_Create_BackToList</a>
                <input type="submit" value="@BackEndResources.ManageGroups_Create_Create" class="btn btn-success" />
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


