﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Models.GroupDetailsViewModel

@{
    ViewBag.Title = @BackEndResources.ManageGroups_Details_DetailsOf + " " + Model.GroupName + "'s " + BackEndResources.ManageGroups_Details_group;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@BackEndResources.ManageGroups_Details_DetailsOf @Model.GroupName's @BackEndResources.ManageGroups_Details_group</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @BackEndResources.ManageGroups_Details_GroupName
        </dt>
        <dd>
            @Model.GroupName
        </dd>
        <br />
        <dt>
            @BackEndResources.ManageGroups_Details_GroupDescription
        </dt>
        <dd>
            @Model.GroupDescription
        </dd>
        <br />
        <dt>
            @BackEndResources.ManageGroups_Details_ModulesAssigned
        </dt>
        <dd>
            @if (Model.Roles.Count == 0)
            {
                @BackEndResources.ManageGroups_Details_NoModulesAssigned
            }
            @foreach (var role in Model.Roles)
            {
                @role
                <br/>
            }
        </dd>
        <br />
        <dt>
            @BackEndResources.ManageGroups_Details_UsersAssigned
        </dt>
        <dd>
            @if (Model.Users.Count == 0)
            {
                @BackEndResources.ManageGroups_Details_NoUsersAssigned
            }
            @foreach (var user in Model.Users)
            {
                @user
                <br />
            }
        </dd>
    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink(BackEndResources.ManageGroups_Details_BackToList, "Index", null, new { @class = "btn btn-default" })
        @Html.ActionLink(BackEndResources.ManageGroups_Details_Edit, "Edit", new {id = Model.Id}, new {@class = "btn btn-default"})
    </div>
    <br/>
</div>
<hr/>
