﻿@using EngineeringThesis.Resources
@model EngineeringThesis.Models.EditGroupViewModel

@{
    ViewBag.Title = BackEndResources.ManageGroups_Edit_Edit + " " + Model.GroupName + " " + BackEndResources.ManageGroups_Edit_group;
}

<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)
        <h4><b>@BackEndResources.ManageGroups_Edit_Edit @Model.GroupName @BackEndResources.ManageGroups_Edit_group</b></h4>
        <hr />
        <div class="form-group">
            <div class="col-md-2 control-label manage-groups-font-weight">
                @BackEndResources.ManageGroups_Edit_GroupName
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GroupName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label manage-groups-font-weight">
                @BackEndResources.ManageGroups_Edit_GroupDescription
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.GroupDescription, new { @class = "form-control no-resize", @rows = 6 })
                @Html.ValidationMessageFor(m => m.GroupDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label manage-groups-font-weight">
                @BackEndResources.ManageGroups_Edit_GroupModules
            </div>
            <span class=" col-md-10">
                @foreach (var item in Model.Roles)
                {
                    <label class="col-md-12">
                        <input type="checkbox" name="SelectedRoles" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                        @item.Text
                    </label>
                }
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index")" class="btn btn-default">@BackEndResources.ManageGroups_Edit_BackToList</a>
                <input type="submit" value="@BackEndResources.ManageGroups_Edit_Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
