﻿@model IEnumerable<EngineeringThesis.Models.GroupViewModel>
@using EngineeringThesis.Resources
@using X.PagedList;
@using X.PagedList.Mvc;
@using System.Web.Mvc.Html;

@{
    ViewBag.Title = "Groups Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="tempdata-message">@TempData["message"]</h3>
<h2>@BackEndResources.ManageGroups_Index_ListOfGroups</h2>
@Html.ActionLink(BackEndResources.ManageGroups_Index_CreateNewGroup, "Create")

<table class="table">
    <hr />
    <thead>
        <tr>
            <th>
                @BackEndResources.ManageGroups_Index_GroupName
            </th>
            <th>
                @BackEndResources.ManageGroups_Index_GroupDescription
            </th>
            <th>
                @BackEndResources.ManageGroups_Index_AssignedModules
            </th>
            <th>
                @BackEndResources.ManageGroups_Index_Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.GroupName
                </td>
                <td>
                    @item.GroupDescription
                </td>
                <td>
                    @if (item.Roles.Count == 0)
                {
                        @BackEndResources.ManageGroups_Index_NoModulesAssigned
                    }
                    @foreach (var role in item.Roles)
                {
                        @role
                        <br />
                    }
                </td>
                <td>
                    <div>
                        @Html.ActionLink(@BackEndResources.ManageGroups_Index_Edit, "Edit", "ManageGroups", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink(@BackEndResources.ManageGroups_Index_AssignUsers, "AssignUsers", "ManageGroups", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink(@BackEndResources.ManageGroups_Index_Details, "Details", "ManageGroups", new { id = item.Id }, new { @class = "btn btn-default" })
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#delete-modal-@(item.Id)">@BackEndResources.ManageGroups_Index_Delete</button>
                    </div>
                </td>
            </tr>
            <div id="delete-modal-@(item.Id)" class="modal fade">
                <div class="delete-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="delete-text">
                                    @BackEndResources.ManageGroups_Index_AreYouSure
                                </div>
                                <br />
                                <div class="delete-text-name">
                                    @(item.GroupName.Count() > 30 ? item.GroupName.Substring(0, 30) + "..." : item.GroupName)?
                                </div>
                                @using (Html.BeginForm("Delete", "ManageGroups", new { id = item.Id }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-md btn-default" data-dismiss="modal">@BackEndResources.ManageGroups_Index_Cancel</button>
                                    <button type="submit" class="btn btn-md btn-default">@BackEndResources.ManageGroups_Index_Delete</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
<center>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))
</center>
